{% extends "base.html" %}
{% block content %}
<section class="hero has-background-white-ter is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
            <div class="column is-12 ">
              <h1 class="title has-text-success">
                Candidate Information
            </h1>
            <h2 class="subtitle is-5 has-text-dark has-text-centered has-text-weight-bold">
                Information on which candidates are standing for election <br>
                and what the key messages of their campaign are.
            </h2>            
            <br>
            <br>
            <div class="column id-9">
              <h1 class="title has-text-success">Presidential Candidates</h1>
              <br>
              <div class="tile is-ancestor ">
              {% for prez in prez %}
                {% if not prez.last_name == 'Vote'%}
                  
                    <div class="tile is-parent">
                      <article class="tile is-child box notification is-white">
                        <h1 class="title is-5 has-text-dark">{{ prez.first_name }} {{ prez.last_name }}</h1>
                        <p class="subtitle is-3 has-text-dark">{{prez.roll_num}}</p>
                        <p class="title is-5 has-text-dark is-italic">"{{prez.agenda}}"</p>
                        <figure class="image">
                            <img class="is-rounded" src="{{ prez.pic_path}}">
                        </figure>
                        <br>
                        <p class="subtitle has-text-dark has-text-weight-semibold">{{prez.batch}}</p>
                        <p class="subtitle has-text-dark has-text-weight-semibold">{{prez.course}}, {{prez.department}}</p>
                      </article>
                    </div>
                  
                {% endif %}    
              {% endfor %}
              </div> 
              <h1 class="title has-text-success">Vice-Presidential Candidates</h1>
              <br>
              <div class="tile is-ancestor ">
                {% for vice in vice %}
                  {% if not vice.last_name == 'Vote'%}
                    
                      <div class="tile is-parent">
                        <article class="tile is-child box notification is-white">
                          <h1 class="title is-5 has-text-dark">{{ vice.first_name }} {{ vice.last_name }}</h1>
                          <p class="subtitle is-3 has-text-dark">{{vice.roll_num}}</p>
                          <p class="title is-5 has-text-dark is-italic"> "{{vice.agenda}}"</p>
                          <figure class="image">
                              <img class="is-rounded" src="{{ vice.pic_path}}">
                          </figure>
                          <br>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{vice.batch}}</p>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{vice.course}}, {{vice.department}}</p>
                        </article>
                      </div>
                    
                  {% endif %}    
                {% endfor %}
            </div>
            <h1 class="title has-text-success">Branch Captain Candidates</h1>
              <br>
              <div class="tile is-ancestor ">
                {% for bc in bc %}
                  {% if not bc.last_name == 'Vote'%}
                    
                      <div class="tile is-parent">
                        <article class="tile is-child box notification is-white">
                          <h1 class="title is-5 has-text-dark">{{ bc.first_name }} {{ bc.last_name }}</h1>
                          <p class="subtitle is-3 has-text-dark">{{bc.roll_num}}</p>
                          <p class="title is-5 has-text-dark is-italic"> "{{bc.agenda}}"</p>
                          <figure class="image">
                              <img class="is-rounded" src="{{ bc.pic_path}}">
                          </figure>
                          <br>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{bc.batch}}</p>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{bc.course}}, {{bc.department}}</p>
                        </article>
                      </div>
                    
                  {% endif %}    
                {% endfor %}
            </div>

            <h1 class="title has-text-success">Secretary Candidates</h1>
              <br>
              <div class="tile is-ancestor ">
                {% for secretary in secretary %}
                  {% if not secretary.last_name == 'Vote'%}
                    
                      <div class="tile is-parent">
                        <article class="tile is-child box notification is-white">
                          <h1 class="title is-5 has-text-dark">{{ secretary.first_name }} {{ secretary.last_name }}</h1>
                          <p class="subtitle is-3 has-text-dark">{{secretary.roll_num}}</p>
                          <p class="title is-5 has-text-dark is-italic"> "{{secretary.agenda}}"</p>
                          <figure class="image">
                              <img class="is-rounded" src="{{ secretary.pic_path}}">
                          </figure>
                          <br>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{secretary.batch}}</p>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{secretary.course}}, {{secretary.department}}</p>
                        </article>
                      </div>
                    
                  {% endif %}    
                {% endfor %}
            </div>

            <h1 class="title has-text-success">Treasurer Candidates</h1>
              <br>
              <div class="tile is-ancestor ">
                {% for treasurer in treasurer %}
                  {% if not treasurer.last_name == 'Vote'%}
                    
                      <div class="tile is-parent">
                        <article class="tile is-child box notification is-white">
                          <h1 class="title is-5 has-text-dark">{{ treasurer.first_name }} {{ treasurer.last_name }}</h1>
                          <p class="subtitle is-3 has-text-dark">{{treasurer.roll_num}}</p>
                          <p class="title is-5 has-text-dark is-italic"> "{{treasurer.agenda}}"</p>
                          <figure class="image">
                              <img class="is-rounded" src="{{ treasurer.pic_path}}">
                          </figure>
                          <br>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{treasurer.batch}}</p>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{treasurer.course}}, {{treasurer.department}}</p>
                        </article>
                      </div>
                    
                  {% endif %}    
                {% endfor %}
            </div>

            <h1 class="title has-text-success">Cultural Secretary Candidates</h1>
              <br>
              <div class="tile is-ancestor ">
                {% for c_sec in c_sec %}
                  {% if not c_sec.last_name == 'Vote'%}
                    
                      <div class="tile is-parent">
                        <article class="tile is-child box notification is-white">
                          <h1 class="title is-5 has-text-dark">{{ c_sec.first_name }} {{ c_sec.last_name }}</h1>
                          <p class="subtitle is-3 has-text-dark">{{c_sec.roll_num}}</p>
                          <p class="title is-5 has-text-dark is-italic"> "{{c_sec.agenda}}"</p>
                          <figure class="image">
                              <img class="is-rounded" src="{{ c_sec.pic_path}}">
                          </figure>
                          <br>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{c_sec.batch}}</p>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{c_sec.course}}, {{c_sec.department}}</p>
                        </article>
                      </div>
                    
                  {% endif %}    
                {% endfor %}
            </div>

            <h1 class="title has-text-success">Sports Secretary Candidates</h1>
              <br>
              <div class="tile is-ancestor ">
                {% for s_sec in s_sec %}
                  {% if not s_sec.last_name == 'Vote'%}
                    
                      <div class="tile is-parent">
                        <article class="tile is-child box notification is-white">
                          <h1 class="title is-5 has-text-dark">{{ s_sec.first_name }} {{ s_sec.last_name }}</h1>
                          <p class="subtitle is-3 has-text-dark">{{s_sec.roll_num}}</p>
                          <p class="title is-5 has-text-dark is-italic"> "{{s_sec.agenda}}"</p>
                          <figure class="image">
                              <img class="is-rounded" src="{{ s_sec.pic_path}}">
                          </figure>
                          <br>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{s_sec.batch}}</p>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{s_sec.course}}, {{s_sec.department}}</p>
                        </article>
                      </div>
                    
                  {% endif %}    
                {% endfor %}
            </div>

            <h1 class="title has-text-success">Technical Secretary Candidates</h1>
              <br>
              <div class="tile is-ancestor ">
                {% for t_sec in t_sec %}
                  {% if not t_sec.last_name == 'Vote'%}
                    
                      <div class="tile is-parent">
                        <article class="tile is-child box notification is-white">
                          <h1 class="title is-5 has-text-dark">{{ t_sec.first_name }} {{ t_sec.last_name }}</h1>
                          <p class="subtitle is-3 has-text-dark">{{t_sec.roll_num}}</p>
                          <p class="title is-5 has-text-dark is-italic"> "{{t_sec.agenda}}"</p>
                          <figure class="image">
                              <img class="is-rounded" src="{{ t_sec.pic_path}}">
                          </figure>
                          <br>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{t_sec.batch}}</p>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{t_sec.course}}, {{t_sec.department}}</p>
                        </article>
                      </div>
                    
                  {% endif %}    
                {% endfor %}
            </div>

            <h1 class="title has-text-success">Creative Head Candidates</h1>
              <br>
              <div class="tile is-ancestor ">
                {% for creative in creative %}
                  {% if not creative.last_name == 'Vote'%}
                    
                      <div class="tile is-parent">
                        <article class="tile is-child box notification is-white">
                          <h1 class="title is-5 has-text-dark">{{ creative.first_name }} {{ creative.last_name }}</h1>
                          <p class="subtitle is-3 has-text-dark">{{creative.roll_num}}</p>
                          <p class="title is-5 has-text-dark is-italic"> "{{creative.agenda}}"</p>
                          <figure class="image">
                              <img class="is-rounded" src="{{ creative.pic_path}}">
                          </figure>
                          <br>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{creative.batch}}</p>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{creative.course}}, {{creative.department}}</p>
                        </article>
                      </div>
                    
                  {% endif %}    
                {% endfor %}
            </div>

            <h1 class="title has-text-success">Social Media Coordinator Candidates</h1>
              <br>
              <div class="tile is-ancestor ">
                {% for s_cord in s_cord %}
                  {% if not s_cord.last_name == 'Vote'%}
                    
                      <div class="tile is-parent">
                        <article class="tile is-child box notification is-white">
                          <h1 class="title is-5 has-text-dark">{{ s_cord.first_name }} {{ s_cord.last_name }}</h1>
                          <p class="subtitle is-3 has-text-dark">{{s_cord.roll_num}}</p>
                          <p class="title is-5 has-text-dark is-italic"> "{{s_cord.agenda}}"</p>
                          <figure class="image">
                              <img class="is-rounded" src="{{ s_cord.pic_path}}">
                          </figure>
                          <br>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{s_cord.batch}}</p>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{s_cord.course}}, {{s_cord.department}}</p>
                        </article>
                      </div>
                    
                  {% endif %}    
                {% endfor %}
            </div>

            <h1 class="title has-text-success">Photography Coordinator Candidates</h1>
              <br>
              <div class="tile is-ancestor ">
                {% for p_cord in p_cord %}
                  {% if not p_cord.last_name == 'Vote'%}
                    
                      <div class="tile is-parent">
                        <article class="tile is-child box notification is-white">
                          <h1 class="title is-5 has-text-dark">{{ p_cord.first_name }} {{ p_cord.last_name }}</h1>
                          <p class="subtitle is-3 has-text-dark">{{p_cord.roll_num}}</p>
                          <p class="title is-5 has-text-dark is-italic"> "{{p_cord.agenda}}"</p>
                          <figure class="image">
                              <img class="is-rounded" src="{{ p_cord.pic_path}}">
                          </figure>
                          <br>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{p_cord.batch}}</p>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{p_cord.course}}, {{p_cord.department}}</p>
                        </article>
                      </div>
                    
                  {% endif %}    
                {% endfor %}
            </div>

            <h1 class="title has-text-success">Graphic Designer Candidates</h1>
              <br>
              <div class="tile is-ancestor ">
                {% for graph in graph %}
                  {% if not graph.last_name == 'Vote'%}
                    
                      <div class="tile is-parent">
                        <article class="tile is-child box notification is-white">
                          <h1 class="title is-5 has-text-dark">{{ graph.first_name }} {{ graph.last_name }}</h1>
                          <p class="subtitle is-3 has-text-dark">{{graph.roll_num}}</p>
                          <p class="title is-5 has-text-dark is-italic"> "{{graph.agenda}}"</p>
                          <figure class="image">
                              <img class="is-rounded" src="{{ graph.pic_path}}">
                          </figure>
                          <br>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{graph.batch}}</p>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{graph.course}}, {{graph.department}}</p>
                        </article>
                      </div>
                    
                  {% endif %}    
                {% endfor %}
            </div>

            <h1 class="title has-text-success">Website Manager Candidates</h1>
              <br>
              <div class="tile is-ancestor ">
                {% for website in website %}
                  {% if not website.last_name == 'Vote'%}
                    
                      <div class="tile is-parent">
                        <article class="tile is-child box notification is-white">
                          <h1 class="title is-5 has-text-dark">{{ website.first_name }} {{ website.last_name }}</h1>
                          <p class="subtitle is-3 has-text-dark">{{website.roll_num}}</p>
                          <p class="title is-5 has-text-dark is-italic"> "{{website.agenda}}"</p>
                          <figure class="image">
                              <img class="is-rounded" src="{{ website.pic_path}} " >
                          </figure>
                          <br>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{website.batch}}</p>
                          <p class="subtitle has-text-dark has-text-weight-semibold">{{website.course}}, {{website.department}}</p>
                        </article>
                      </div>
                    
                  {% endif %}    
                {% endfor %}
            </div>
        
          </div>
          </div>

<br>
<br>




{% endblock %}