{% extends "base.html" %}
{% block styles %}
{{ super() }}

<script src="https://cdn.jsdelivr.net/momentjs/2.9.0/moment.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.min.js"></script>
{% endblock %}

{% block content %}

<h1 class="subtitle has-text-white"> Joint Secretary Election Results</h1>
<canvas id="myChart" max-width="100" max-height="60"></canvas>
<script>

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels | tojson }},
            datasets: [{
                label: ' No of Votes',
                data: {{ data | tojson }},
                backgroundColor: [
                    'rgba(30, 81, 123, 0.2)',
                    'rgba(43, 44, 170, 0.2)',
                    'rgba(0,0,128, 0.2)',
                    'rgba(100,149,237, 0.2)',
                    'rgba(0,127,255, 0.2)',
                    'rgba(0, 181, 204, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)',
                ],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>
<br>
<br>
<h1 class="subtitle has-text-white"> Joint Cultural Secretary Election Results</h1>
<canvas id="myChart1" max-width="100" max-height="60"></canvas>
<script>

var ctx = document.getElementById('myChart1').getContext('2d');
var myChart1 = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ labels1 | tojson }},
        datasets: [{
            label: 'No of Votes',
            data: {{ data1 | tojson }},
            backgroundColor: [
                'rgba(30, 81, 123, 0.2)',
                'rgba(43, 44, 170, 0.2)',
                'rgba(0,0,128, 0.2)',
                'rgba(100,149,237, 0.2)',
                'rgba(0,127,255, 0.2)',
                'rgba(0, 181, 204, 0.2)'
            ],
            borderColor: [
                'rgba(255, 255, 255, 1)',
                'rgba(255, 255, 255, 1)',
                'rgba(255, 255, 255, 1)',
                'rgba(255, 255, 255, 1)',
                'rgba(255, 255, 255, 1)',
                'rgba(255, 255, 255, 1)',
            ],
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
<br>
<br>
<h1 class="subtitle has-text-white"> Joint Sports Secretary Election Results</h1>
<canvas id="myChart2" max-width="100" max-height="60"></canvas>
<script>

    var ctx = document.getElementById('myChart2').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels2 | tojson }},
            datasets: [{
                label: ' No of Votes',
                data: {{ data2 | tojson }},
                backgroundColor: [
                    'rgba(30, 81, 123, 0.2)',
                    'rgba(43, 44, 170, 0.2)',
                    'rgba(0,0,128, 0.2)',
                    'rgba(100,149,237, 0.2)',
                    'rgba(0,127,255, 0.2)',
                    'rgba(0, 181, 204, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)',
                ],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<br>
<br>
<h1 class="subtitle has-text-white"> Joint Technical Secretary Election Results</h1>
<canvas id="myChart3" max-width="100" max-height="60"></canvas>
<script>

    var ctx = document.getElementById('myChart3').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels3 | tojson }},
            datasets: [{
                label: ' No of Votes',
                data: {{ data3 | tojson }},
                backgroundColor: [
                    'rgba(30, 81, 123, 0.2)',
                    'rgba(43, 44, 170, 0.2)',
                    'rgba(0,0,128, 0.2)',
                    'rgba(100,149,237, 0.2)',
                    'rgba(0,127,255, 0.2)',
                    'rgba(0, 181, 204, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)',
                    'rgba(255, 255, 255, 1)',
                ],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

setInterval(function(callback){
    const Http = new XMLHttpRequest({mozSystem: true});
    const url='http://localhost:5000/vote/count';
    Http.open("GET", url);
    Http.setRequestHeader("Access-Control-Allow-Origin","*");
    Http.setRequestHeader("Access-Control-Allow-Credentials", "true");
    Http.setRequestHeader("Access-Control-Allow-Methods", "GET");
    Http.setRequestHeader("Access-Control-Allow-Headers", "Content-Type");

    Http.send();
    Http.onreadystatechange = function(){
        if(Http.readyState == 4){
            var result = JSON.parse(Http.responseText);
            // var label = Object.keys(labels).map(function (key) { return labels[key]; });
        
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: result.labels,
                    datasets: [{
                        label: 'No of Votes',
                        data: result.data,
                        backgroundColor: [
                            'rgba(30, 81, 123, 0.2)',
                            'rgba(43, 44, 170, 0.2)',
                            'rgba(0,0,128, 0.2)',
                            'rgba(100,149,237, 0.2)',
                            'rgba(0,127,255, 0.2)',
                            'rgba(0, 181, 204, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                        ],
                        borderWidth: 2
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            var ctx = document.getElementById('myChart1').getContext('2d');
            var myChart1 = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: result.labels1,
                    datasets: [{
                        label: 'No of Votes',
                        data: result.data1,
                        backgroundColor: [
                            'rgba(30, 81, 123, 0.2)',
                            'rgba(43, 44, 170, 0.2)',
                            'rgba(0,0,128, 0.2)',
                            'rgba(100,149,237, 0.2)',
                            'rgba(0,127,255, 0.2)',
                            'rgba(0, 181, 204, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                        ],
                        borderWidth: 2
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            var ctx = document.getElementById('myChart2').getContext('2d');
            var myChart2 = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: result.labels2,
                    datasets: [{
                        label: 'No of Votes',
                        data: result.data2,
                        backgroundColor: [
                            'rgba(30, 81, 123, 0.2)',
                            'rgba(43, 44, 170, 0.2)',
                            'rgba(0,0,128, 0.2)',
                            'rgba(100,149,237, 0.2)',
                            'rgba(0,127,255, 0.2)',
                            'rgba(0, 181, 204, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                        ],
                        borderWidth: 2
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            var ctx = document.getElementById('myChart3').getContext('2d');
            var myChart3 = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: result.labels3,
                    datasets: [{
                        label: 'No of Votes',
                        data: result.data3,
                        backgroundColor: [
                            'rgba(30, 81, 123, 0.2)',
                            'rgba(43, 44, 170, 0.2)',
                            'rgba(0,0,128, 0.2)',
                            'rgba(100,149,237, 0.2)',
                            'rgba(0,127,255, 0.2)',
                            'rgba(0, 181, 204, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                            'rgba(255, 255, 255, 1)',
                        ],
                        borderWidth: 2
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            myChart.update('none');
            myChart1.update('none');
            myChart2.update('none');
            myChart3.update('none');
        }
    }
  
}, 10000);


</script>
{% endblock %}