{% extends "base.html" %}
{% block content %}
<section class="hero is-dark is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">

        <div class="columns">
            <div class="column">
                <h1 class="title is-italic has-text-info is-1">
                     AIML Student Council Elections 
                  </h1>
                <h2 class="subtitle has-text-link is-4">
                  <br>
                  Login to Start Voting
                </h2>
                <br>
                <p class="has-text-centered has-text-weight-semibold has-text-light">TASC Welcomes You To The AIML Student Council Elections For The Session 2022-23. Kindly Register Yourself and Vote For The Desired Candidate. </p>
                <br><br>
                <p class="has-text-centered has-text-weight-semibold has-text-light">To Know More About The Candidates, Switch to Candidates Tab</p> <br><br>
                <p class="has-text-centered has-text-weight-semibold has-text-light">To Register as a Candidate, Contact Admin</p>
            </div>
          
        </div>
        
      </div>
      
    </div>
  </section>
{% endblock %}