{% extends "base.html" %}
{% block content %}
<section class="hero is-bold is-white is-fullheight-with-navbar">
  <div class=columns>
    <div class="column is-5" >
      <img src="static/images/nmamit.png" >
    </div>
  </div>
    <div class="hero-body">
      <div class="container">
        <div class="bg-primary text-white">
        <div class="row justify-content-center">
                <h1 class="title is-bold has-text-weight-bold is-2 has-text-dark">
                     DEPARTMENT OF ARTIFICIAL INTELLIGENCE AND MACHINE LEARNING
                </h1>
                <span></span>
                <h2 class="subtitle is-info has-text-success is-3">
                    Login and start voting
                </h2>
                <br><br>
                <p class="has-text-left has-text-weight-semibold">NMAM INSITUTE OF TECHNOLOGY, NITTE</p>
                <br>
                <p class="has-text-left has-text-weight-bold has-text-dark">DEPARTMENT OF ARTIFICIAL INTELLIGENCE AND MACHINE LEARNING</p> <br>
                <p class="has-text-left has-text-weight-semibold">VOTING PORTAL</p>
              </div>
        </div>
        
      </div>
      
    </div>
</section>
{% endblock %}