{% extends "base.html" %}

{% block content %}
<h3 class="title">POLLING INFORMATION</h3>
<h2 class="subtitle is-5 has-text-dark has-text-centered has-text-weight-bold">test</h2> 
<br>
<h1 class="title has-text-link">VOTED</h1>
    <br>
    <div class="columns is-multiline is-mobile">
    {% for voted in voted %}
      {% if not voted.name == 'Admin'%}
        
          <div class="column is-one-fifth is-normal is-parent">
            <span class="tab box is-normal is-child is-white">
              <h1 class="subtitle] has-text-dark">{{ voted.name}}</h1>
              <p class="subtitle] has-text-dark">{{voted.roll_num}}</p>
            </span>
          </div>
        
      {% endif %}    
    {% endfor %}
    </div>

    <h1 class="title has-text-link">NOT VOTED</h1>
    <br>
    <div class="columns is-multiline is-mobile">
    {% for not_voted in not_voted %}
      {% if not not_voted.name == 'Admin'%}
        
          <div class="column is-one-fifth is-normal is-parent">
            <span class="tab box is-normal is-child is-white">
              <h1 class="subtitle] has-text-dark">{{ not_voted.name}}</h1>
              <p class="subtitle] has-text-dark">{{not_voted.roll_num}}</p>
            </span>
          </div>
        
      {% endif %}    
    {% endfor %}
    </div>
</div>
</div>  
{% endblock %}