{% extends "base.html" %}

{% block content %}

<h1 class="title">
  Welcome, {{ name }}!
</h1>
<div class="box">
  {% with success = get_flashed_messages(category_filter=["success"]) %}
  {% if success %}
      <div class="notification is-success">
      {%- for msg in success %}
          <ul>{{ msg }}. Go to <a href="{{ url_for('live_result') }}">live results</a> to check.</ul>
      {% endfor -%}
      </div>
  {% endif %}
  {% endwith %}
  </div>
{% if voter%}
  <h1 class="subtitle has-text-success"> Your vote has been cast. </h1>
  <ul>Please <a class="tag is-danger is-light" href="{{ url_for('auth.logout') }}">logout</a></ul>
      
{%else%}
  <h2 class="subtitle">
      You can cast your vote here.<br>
  </h2>
  <div class="columns">
      <div class="column is-4">
        <img src="static/images/3.jpg">
      </div>
      <div class="column is-4 ">
        
        <div class="box">
        <h3 class="title has-text-dark">Voting Form</h3>

        Do take a look at the <a href="{{ url_for('candidate') }}"><u>candidates</u> </a> standing in the election before casting your vote.
        <br> <br>

        <form method="POST" action="/profile">
          <div class="field ">
            <label class="label">Joint Secretary</label>
            <div class="select" >
              <select name="Jt_Sec">
                {% for prez in prez %}
                    <option value ={{prez.roll_num}}>{{prez.first_name}} {{prez.last_name}} ({{prez.roll_num}})</option>
                {% endfor %}
              </select>
            </div>  
          </div>

          <div class="field">
            <label class="label">Joint Cultural Secretary</label>
            <div class="select" >
              <select name="Jt_Cul">
                {% for vice in vice %}
                    <option value ={{vice.roll_num}}>{{vice.first_name}} {{vice.last_name}} ({{vice.roll_num}})</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="field ">
            <label class="label">Joint Sports Secretary</label>
            <div class="select" >
              <select name="Jt_Sp">
                {% for bc in bc %}
                    <option value ={{bc.roll_num}}>{{bc.first_name}} {{bc.last_name}} ({{bc.roll_num}})</option>
                {% endfor %}
              </select>
            </div>
          </div>
        
          <div class="field ">
            <label class="label">Joint Technical Secretary</label>
            <div class="select" >
              <select name="Jt_Th">
                {% for secretary in secretary %}
                    <option value ={{secretary.roll_num}}>{{secretary.first_name}} {{secretary.last_name}} ({{secretary.roll_num}})</option>
                {% endfor %}
              </select>
            </div>  
          </div>
        
          
              <br>
              <br>

              <div class="field">
                <button class="button  is-success">Cast Vote</button>
              </div>
            </div>
        </form>
      </div>
      <div class="column is-4">
        <img src="static/images/4.jpg">
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}