<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TASC Elections 2022</title>
    {% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    {% endblock %}
</head>

<body>
    <section class="hero is-dark is-fullheight">
        <div class="block">
        <div class="hero-head">
            <nav class="navbar is-fullwidth" href="/_">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="static/images/tasc.png" width="50" height="60">
                      </a>
                    <a class="navbar-item has-text-weight-bold is-rounded">
                     DEPARTMENT OF ARTIFICIAL INTELLIGENCE AND MACHINE LEARNING
                    </a>
                    
                </div> 
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
    
                        <div class="navbar-end">
                            {% if not current_user.is_authenticated %}

                            {% endif %}
                            {% if current_user.is_authenticated and not current_user.admin == 1 %}
                            
                            <p class="px-2">
                                <a href="{{ url_for('profile') }}" class="navbar-item px-2 button is-primary">
                                    <strong>Vote</strong>
                                </a>
                              </p>
                            {% endif %}
                            <p class="px-2">
                                <a href="{{ url_for('index') }}" class="navbar-item px-2 button is-black" >
                                    Home
                                </a>
                              </p>
                            
                            <p class="px-2">
                                <a href="{{ url_for('candidate') }}" class="navbar-item px-2 button is-black">
                                    Candidate Info
                                </a>
                              </p>
                            
    
                            {% if not current_user.is_authenticated %}
                            
                            <p class="px-2">
                                <a href="{{ url_for('auth.login') }}" class="navbar-item button px-2 is-primary">
                                    Login
                                </a>
                              </p>
                            
                            
                            {% endif %}
                            {% if current_user.admin == 1 %}
                            <p class="px-2">
                                <a href="{{ url_for('live_result') }}" class="navbar-item px-2 button is-black">
                                    Live Result
                                </a>
                              </p>
                              <div class="navbar-item button has-dropdown is-hoverable is-warning has-text-dark">
                                <a class="navbar-link">
                                  User Control
                                </a>
                                <div class="navbar-dropdown is-inverted is-boxed has-text-dark is-dark">
                                    <p class="px-1">
                                        <a href="{{ url_for('candidate_register') }}" class="navbar-item is-black">
                                            <strong>Register Candidate</strong>
                                        </a>
                                      </p>
                                      <p class="px-1">
                                        <a href="{{ url_for('auth.register') }}" class="navbar-item is-black">
                                            <strong>Sign Up User</strong>
                                        </a>
                                      </p>
                                      <p class="px-1">
                                        <a href="{{ url_for('reset_vote') }}" class="navbar-item has-text-danger has-text-weight-bold">
                                            <strong>RESET VOTES</strong>
                                        </a>
                                      </p>
                                </div>
                              </div>
                            
                              
                            
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            
                            <p class="px-1">
                                <a href="{{ url_for('auth.logout') }}" class="navbar-item button px-1 is-danger">
                                    Logout
                                </a>
                              </p>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </div>
    </section>
</body>

</html>
